<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- ***** Mapper namespace 설정 ***** -->
	<typeAliases>
		<!-- MEMBER -->
    	<typeAlias alias="Member" type="com._null.semi_box.member.model.vo.Member"/>
  		<!-- PAYBOX -->
    	<typeAlias alias="PayBox" type="com._null.semi_box.payBox.model.vo.PayBox"/>
      <typeAlias  type="com._null.semi_box.mypage.model.vo.OrderHistory" alias="OrderHistory" />
	</typeAliases>
	
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
                <property name="username" value="C##SEMI"/>
                <property name="password" value="SEMI"/>
            </dataSource>
        </environment>
    </environments>
	
	<!-- Mapper 등록 -->
    <mappers>
        <mapper resource="mapper/boxOpenMapper.xml"/>
        <mapper resource="mapper/diaryMapper.xml"/>
        <mapper resource="mapper/memberMapper.xml"/>
        <mapper resource="mapper/historyMapper.xml"/>
        <mapper resource="mapper/payBoxMapper.xml" />
        <mapper resource="mapper/myProductMapper.xml" />
    </mappers>
</configuration>
