@charset "UTF-8";

.main-footer-container {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  border-top: 1px solid #1e2022;
  padding: 12px 0;
}

.main-footer.container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main-footer.footer-info {
  font-size: 12px;
}

.main-footer.logo {
  height: 38px;
}
