@charset "UTF-8";

.main-footer-container {
  position : relative;
  width: 100%;
  height: 84px;
  padding: 12px 0;
  transform : translateY(-100%);
  min-width: 1200px;
  border-top: 1px solid #1e2022;  
}

.main-footer.container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main-footer.footer-info {
  font-size: 12px;
}

.main-footer.logo {
  height: 38px;
}
