@charset "UTF-8";

.my-page.input-container {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	gap: 12px;
}

.my-page.container-inner {
	width: 50%;
}

.my-page.input-label {
	flex-shrink: 0;
	width: 120px;
	font-size: 18px;
}

.my-page.input.input-primary {
	font-size: 18px;
}

.my-page.btn-container {
	margin-top: 24px;
}