


.order-frame {
    border: px black solid;
    width: 100%;
    height: 100%;
}

.upMenu   {height: 5%;}
.midMenu  {height: 10%;}
.downMenu {height: 75%;}


/* 상단 버튼 */
.upMenu-item{
    margin-top: 4px;

}
.refundbtn {
    margin-left: 10px;
}

/* 중단 타이틀  */
.title{  
    font-family: SUIT-Regular, sans-serif;
    font-size: 40px;
    padding-top: 20px;
    line-height: 1;
}
    

/* 하단 조회 목록   */
.downMenuUp { height: 5%; display: flex;}
.downMenDown { height: 95%; }


.downMenuUp-item { 
    border: px black solid; 
    font-family: SUIT-Regular, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
}
.orderNo    {width: 20% ;}
.orderInfo  {width: 45% ;}
.orderPrice {width: 10% ;}
.orderOpen  {width: 10% ;}
.orderNull  {width: 15% ;}


.output {
    display: flex;
    height: 22%;
    margin-bottom: 1%;
}


.downMenuDown-item {  
    border: px black solid; 
    text-align: center;
    font-family: SUIT-Regular, sans-serif;

}
.orderImageDateName{
    display: flex;
    border: px black solid;
}
.downMenuDown-orderImageDateName {
    height: 50%;
    border: px black solid;
}

.downMenuDown-item-image, .downMenuDown-item-info{ width: 50%;}
.downMenuDown-item-info {padding-top: 7%; }

/* 이미지, 구매날짜, 박스명*/
.orderImage         {height: 100%;}
.orderPurchaseDate  {height: 50%; width: 100%;}
.orderBoxName       {height: 50%; width: 100%;}

/* 주문번호, 상품정보, 결재 금액, 개봉 여부, 배송조회/환불신청 */
.orderUniquekey         {width: 20%; padding-top: 7%;}
.orderImageDateName     {width: 45%; }
.orderBoxPrice          {width: 10%; padding-top: 7%;}
.orderBoxOpen           {width: 10%; padding-top: 7%;}
.orderDeliveryRefundBtn {width: 15%; padding-top: 4%; }


.downMenuDown-orderDeliveryRefundBtn{
    /* margin: 2%; */
    
}


.orderDeliveryRefundBtn-a {
background-color:transparent;
}

.pagination {
    width: 500px; 
    margin:auto;
    display: flex;
    border: px black solid;
    padding-left: 15%;
}

.page-item{
    border: px black solid;
    width: 10%;
    text-align: center;
}









