@charset "UTF-8";


.mainFrame {
    width: auto;
    height: auto;
    border: 1px black solid;
    box-sizing: border-box;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}


#orderMenu, #orderContent{
    border: px pink solid;
    width:   100%;
    margin: 0;
    
    
}
#orderMenu {  height:  15%;  border: 1px black solid;
     display: flex;
 }
#orderContent { height: 85%; 
    box-sizing: border-box;
}


.menubtn{
   width: 20%;
   height: 100%;
}

.menubtn-order , .menubtn-refund{
    border: px black solid;
    font-family: SUIT-Regular, sans-serif;
    width: 100%;
    height: 50%;
    text-align: center;
        
}
.menubtn-order {
    padding-top: 15%;
    
}


.menubtn-shopping {
    border: px black solid;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-top: 15%;

}



/* 배송지 신청 shoppingResult.jsp 부분*/

.shop {
    border: px black solid;
    width: 100%;
} 


.Application{
    display: flex;
    font-family: SUIT-Regular, sans-serif;
}

.Application1{height: 10%;   font-size: 50px; padding-top: 1%; padding-left: 1%;}
.Application2{height: 10%; font-size: 20px;}
.Application3{height: 12%; font-size: 20px;}
.Application4{height: 18%; font-size: 20px;}
.Application5{height: 30%; font-size: 20px;}
.Application6{height: 15%; font-size: 20px;}
.Application7{height: 5%;
    padding-left: 50%;
}

.Application-left { 
    width: 15%; 
    background-color: #C1E5F5; 
    text-align: center;
    border: 1px  black solid; 
    border-width: thin;
 }
.Application-right { width: 85%; border:1px black solid;}

.left1{padding-top: 3%;}
.left2{padding-top: 3%;}
.left3{padding-top: 5%;}
.left4{padding-top: 10%;}
.left5{padding-top: 5%;}


.delivery {   padding-top: 20%; }
.address1, .address2 {  font-family: SUIT-Regular, sans-serif;}
.delivery-flex{  display: flex;  padding-top: 3%; }
.delivery-flex div { margin-left: 2%;}


.orderName { border: 1px black solid; width: 200px; }
.orderNamediv { padding-top: 3.5%;}
.orderName-btn { padding-top: 3%;}

.orderTel {
    border: 1px black solid;
    margin-top: 5%;
    margin-left: 2%;
}


.addressBtn {
    height: 100%;

}

.orderMainArddress {
    border: 1px black solid;
    width: 40%;
    margin-top: 8%;
    margin-left: 2%;
}

.orderOrderArddress {
    border: 1px black solid;
    width: 40%;
    margin-top: 3%;
    margin-left: 2%;

}
.addressBoxSize{
    width: 200px
}

.DeliveryMsg{
    border: 1px black solid;
    width: 80%;
    margin-top: 5%;
    margin-left: 2%;
}

.deliverySubmit {
    align-items: center;
    width: 300px;
    justify-content: center;
}




/* 신청완료 페이지 shopCompleted.jsp 부분*/ 

.shopMainFrame{
    width: auto;
    height: auto;
    border: px black solid;
    box-sizing: border-box;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.Complet{border: px black solid}

.title       {
    height: 20%;  
    font-family: SUIT-Regular, sans-serif; 
    font-size: 100px;
    text-align: center;
    line-height: 160px;

}
.coment      {
    height: 10%;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px black solid;
}  
.completNo   {height: 10%;  display: flex;

        }
.completDate {height: 10%; display: flex;}
.completBtn  {height: 30%; display: flex;}

.completdown{

    width: 25%;
    height: 100%;
    border: px pink solid;
    font-family: SUIT-Regular, sans-serif; 
    font-size: 35px;
    text-align: center;
    padding-top: 2%;
}
