/* 주무 내역 */


/* 이미지, 구매날짜, 박스명*/
.orderImage         {height: 100%; width: 100%;}
.orderPurchaseDate  {height: 50%; width: 100%;}
.orderBoxName       {height: 50%; width: 100%;}

.orderNo    {width: 20% ;}
.orderInfo  {width: 45% ;}
.orderPrice {width: 10% ;}
.orderOpen  {width: 10% ;}
.orderNull  {width: 15% ;}



/* 주문번호, 상품정보, 결재 금액, 개봉 여부, 배송조회/환불신청 */
.orderUniquekey         {width: 20%; padding-top: 7%;}
.orderImageDateName     {width: 45%; }
.orderBoxPrice          {width: 10%; padding-top: 7%;}
.orderBoxOpen           {width: 10%; padding-top: 7%;}
.orderDeliveryRefundBtn {width: 15%; padding-top: 4%; }


.orderDeliveryRefundBtn-a {
    background-color:transparent;
    }

.orderImageDateName{
    display: flex;
    border: px black solid;
    }
.downMenuDown-orderImageDateName {
    /* height: 50%; */
    border: px black solid;
}