<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modifyPasswordMapper">
    
    <!-- 현재 비밀번호 조회 -->
    <select id="selectCurrentPassword" parameterType="int" resultType="String">
        SELECT USER_PASSWORD
        FROM MEMBER
        WHERE USER_PK = #{userPk}
    </select>

    <!-- 비밀번호 수정 -->
    <update id="updatePassword" parameterType="ModifyPassword">
        UPDATE MEMBER
        SET USER_PASSWORD = #{newPwd}
        WHERE USER_PK = #{userPk} AND USER_PASSWORD = #{currentPwd}
    </update>

</mapper>
