<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="withdrawMapper">

    <!-- 비밀번호 가져오기 -->
    <select id="selectPasswordByPk" parameterType="int" resultType="String">
        SELECT USER_PASSWORD
        FROM MEMBER
        WHERE USER_PK = #{userPk}
    </select>

    <!-- 회원 탈퇴: 회원 데이터 삭제 -->
    <!-- 1. PRODUCT 테이블에서 해당 사용자의 모든 레코드 삭제 -->
    <delete id="deleteUserProducts" parameterType="int">
        DELETE FROM PRODUCT
        WHERE USER_PK = #{userPk}
    </delete>

    <!-- 2. MEMBER 테이블에서 해당 사용자 삭제 -->
    <delete id="deleteMember" parameterType="int">
        DELETE FROM MEMBER
        WHERE USER_PK = #{userPk}
    </delete>

</mapper>
